<div class="container">
    <div class="row">
        <div class="col-md-12 py-4">
            <div class="card">
            <h5 class="card-header">Type of bookmarks</h5>
                <div class="card-body">
                <%= pie_chart @group_By_Types %>
                </div>
            </div>
        </div>
    </div>
</div>