<div class="card">
    <div class="card-header">
    <h5><%= @bookmark.name %></h5>
    </div>
    <div class="card-body">
        <p class="card-title"><%= @bookmark.url %></p>
    </div>
</div>